
 /* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&family=Roboto:wght@300;400;500;700;900&display=swap');*/


*,::before,::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     scroll-behavior: smooth;
}

body{
    
  font-size: 18px; 
  font-family: 'Roboto', sans-serif;
 position: relative;
 overflow-x: hidden;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;

}
a, button{
    cursor: pointer;
}
img{
    width: 100%;
}
p{
    font-family: 'Roboto', sans-serif;
}

/*  NAVBAR        */

.navbar{
    width: 100vw;
    height: 4rem;
    position: fixed;
    top: 0;
    background-color: rgb(0, 0, 255,.89);
    left: 0;
    z-index: 2;
    /*background-color: rgb(24, 20, 47,0.88);
    background: repeating-linear-gradient(90deg, rgba(28, 28, 99, 0.8) , rgb(102, 102, 234) 0%, rgba(0,0,0,0.8) );*/
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1100px;
    height: 100% ;
    margin: 0 auto;
    padding: 0 40px;
}
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.nav-list li{
    padding: 20px;
}
li .fa{
    color: white;
    font-size: 12px;
    padding-right: 3px;
}
.nav-list button{
    padding: 10px 18px;
    margin-left: 63px;
    background-color: orange;
    color: white;
    border: none;
    transition: all .5s;
}
.nav-list button:hover{
    background-color: rgb(255, 165, 0,.8);
}
.nav-list a{
    color: white;
    font-size: 14px;
    transition: all .5s;
    font-weight: bold;
    text-transform: uppercase;
}
.nav-list a:hover{
    color: goldenrod;
    font-size: 15px;
    border-bottom: 1px solid white;
}
.navbar span{
    color: goldenrod;
}
.navbar h1{
    color: white;
    cursor: pointer;
}



.mobile i.fa-bars{
    color: white;
    font-size: 22px;
    display: none;
}

/*  showcase      */

.showcase{
    margin-top: 4rem;
    background: url(./images/pic5.jpg) no-repeat center center/cover;
    height: 85vh;
    text-align: center;
    padding-top: 110px;
    width: 100%;

   
}
.showcase-text{
    width: 70%;
    padding: 15px;
    margin: 0 auto;
    line-height: 1.2;
    max-width: 600px;
    
}
.showcase-text h1{
    margin-bottom: 14px;
    text-transform: uppercase;
  color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 3rem;
}
.showcase-text p{
    font-size: 18px;
    color: black;
  margin-top: 14px;
}
.showcase-text button{
    color: white;
    padding: 12px 25px;
    background: repeating-linear-gradient(90deg, rgb(80, 80, 185,0.4) , rgb(102, 102, 234) 0%, rgba(0,0,0,0.4) );
    outline: none;
    border: 1px solid white;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .5s;
    margin-top: 30px;
}
.showcase-text button:hover{
background: transparent;
color: black;
}

/*  products       */

.products{
width: 100%;

  
}
.products-container{
    display: grid;
    
    gap: 20px;
    grid-template-areas: "showcase showcase second"
                         "showcase showcase one"; 
    width: 80%;
    margin: 0 auto;
   padding-top: 20px;
   padding-bottom: 30px;

}
.text-center{
    text-align: center;
    padding-top: 60px;

}
.text-center h2{
    color: rgb(221, 168, 34,.9);
    font-size: 2.5rem;
}
.text-center p{
    color: rgba(0,0,0);
    font-size: 16px;
    margin-top: 25px;
}
.text-center button{
    margin-top: 15px;
    padding: 10px 25px;
    background-color: black;
    color: white;
    border: none;
    
}
.text-center button:hover{
    background-color: rgba(0,0,0,0.78);
}

.image-1{
    grid-area: showcase;
   
   background: url(./images/pic6.jpg) no-repeat center center/cover;
   min-height: 400px;
}
.image-2{
    grid-area: second;
    background: url(./images/pic10.jpg) no-repeat center center/cover;
}
   
  

.image-3{
    grid-area: one;
     
    background: url(./images/pic11.jpg) no-repeat center center/cover;

}


/* courses section       */

.course-sec{
    background-color: rgb(24, 20, 47);
    width: 100%;
    margin: 30px 0 0 0;
   position: relative;
   font-family: "Montserrat", sans-serif;
   color: lightgrey;
   font-size: 16px;
   font-weight: none;
   padding: 3.6rem;
}
.course-sec::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: -1;
}
.course-sec button{
    padding: 8px 16px;
    border: none;
    color: rgb(24, 20, 47); 
    margin-top: 16.5px;
}
.course-sec h3{
    color: rgb(218, 165, 32,.6);
    padding-bottom: 15px;
}
.course-sec p{
    font-size: small;
    color: white;
    line-height: 1.2;
 
    font-weight: none;
}

.course-sec .grid-class{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    justify-content: center;
    align-items: start;

    gap: 30px;
   padding-top: 3rem;

}
.course-sec h2{
    text-align: center;
    font-size: 2rem;

}
.course-sec .item{
    background-color: transparent;
    border: 1px solid white;
    padding: 20px;
    box-shadow: 2px 2px 1px  white;
    text-align: center;
    transition: all .15s;
    cursor: pointer;
    max-height: 300px;
}
.course-sec .item:hover{
  transform: translateY(-15px);

} 

/*    NEWS     LETTER  */

.news-letter{
    background: url(./images/pic2.jpg) no-repeat center center/cover;
    width: 100%;
    height: 550px;
    
}
.news-letter .news-container{
    width: 90%;
    margin: 0 auto;
    height: 100%;
    padding: 20px;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   justify-content: center;
   align-items: center;
   gap: 20px;

}
.news-container label{
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.news-container .news-form{
    background-color: white;
    padding: 30px;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 2px white;

}
.news-container form h3{
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}

.news-container .news-form input, .news-container .news-form textarea{
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    
}
.news-container .news-form input:focus{
    outline: none;
}
.news-container .news-form textarea:focus{
    outline: none;
}
.news-container .news-form button{
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-top: 15px;
    background-color: orange;
    border: none;
    color: white;
    border-radius: 5px;
}
.news-container .news-form button:hover{
    background-color: rgb(255, 165, 0,0.88);
}
.news-text{
    max-width: 300px;
    justify-self: center;
    color: white;
}
.news-text h3{
    margin-bottom: 10px;
    text-transform: uppercase;
}
.news-text p{
    font-size: 14px;
    color: white;
}
.news-text button{
    margin-top: 20px;
    padding: 10px 25px;
    background-color: black;
    color: white;
    border: none;
    
}
.news-text button:hover{
    background-color: rgba(0,0,0,0.78);
}

/*     footer  */


footer{
    width: 100%;
    background-color: #002240;
   /* height: 250px;*/
   padding: 60px 0;
}
footer span{
    color: goldenrod;
}
footer h1{
    color: white;
    cursor: pointer;
    font-size: 2rem;
}
footer, footer i, .footer a{
    color: white;
}

footer .socials a{
    margin: 5 10px;
}
footer ul li a{
    color: white;
    font-size: 14px;
    transition: all .5s;
}
footer ul li a:hover{
    padding-left: 5px;
    border-bottom: 1px solid white;
}
footer i{
    transition: all .5s;
}
footer i:hover{
    transform: translateY(-10px);
    
}




/*          MODAL         */



form label{
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
}


 .form h3{
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
   color: orange;
    text-decoration: underline;
   

}

 .form input{
    margin-bottom: 15px;
    padding: 5px;
    width: 100%;
    
}

 .form input:focus{
    outline: none;
}
 .form button{
    display: block;
    width: 50%;
    padding: 10px 0;
 
    background-color: orange;
    border: none;
    color: white;
    border-radius: 5px; 
    margin-top: 35px ;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
 .form button:hover{
    background-color: rgb(255, 165, 0,0.88);
}

 .form{
    position: fixed;
    top: 6rem;
   left: 25.4%;
   width: 60vw;
   height: 550px;
    padding-top: 5rem;
    width: 100%;
  box-shadow: 2px 2px 1px 2px rgb(0, 0, 0, .5);
   z-index: 999;

   background-color: white;
    padding: 30px;
   
    border-radius: 5px;
    box-shadow: 3px 3px 3px 2px white;
   display: none;
   max-width: 800px;
}
.form.show{
    display: block;
     transition: all .5s;
     animation: animate .5s ease-in;
}


.hide-mobile{
    display: flex;
    
    }
/*       HAMBURGER MOBILE MENU*/

.mobile-menu{
    display: none;
}



@keyframes animate{
    0%{
        opacity: 0;
    };
    100%{
        opacity: 1;
    }
}
.form i{
    color: red;
    font-size: 2rem;
    float: right;
    cursor: pointer;

}

body::before{
content: "hello";
position: absolute;
top: -100px;
left: 0;
width: 100vw;
height: 100vh;
background-color: rgb(255, 255, 255,.5);
z-index: 3;
display: none;
}


body.show::before{
    display: block;
}




/*         MEDIA QUERRIES   850px   */
@media screen and (max-width: 850px){
.navbar .container{
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
}


.mobile i.fa-bars{
    color: white;
    font-size: 22px;
    display: initial;
    margin: 10px 0 0 25px;
    
    cursor: pointer;
   
}
.hide-mobile{
    display: none;
}


.nav-list button{
    padding: 4px 6px;
}
.navbar{
    overflow-x: hidden;
}


.showcase{
    max-height: 400px;
}
.showcase h1 {
    font-size: 2rem;
}
.showcase p{
    font-size: 16px;
}

.showcase button{
    padding: 8px 15px;
}
.products h2{
    font-size: 1.6rem;
}

.products button{
    padding: 7px 13px;
}

.course-sec .grid-class{
    grid-template-columns: 1fr  ;
    gap: 30px;
   padding-top: 2rem;
   padding-bottom: 2rem;
    
}
    .course-sec{
        height: auto;
    }



    .news-letter .news-container{
        width: 90%;
        margin: 0 auto;
        
       grid-template-columns: 1fr;
       gap: 30px;
       
    
    }
    .news-letter{
        height: auto;
        padding: 40px 0;
    }
    
    .news-letter .news-text{
        justify-self: center;
        width: 60%;
        height: 250px;
        
    }
    .news-text p{
        color: black;
    }
    .news-letter .news-form{
        justify-self: center;
        padding: 10px;
        margin-top: 20px;
    }
    .news-text h3{
        color: black;
    }

    .products .products-container{
    
        
        gap: 20px;
        grid-template-areas: "showcase showcase"
                               "second one"; 
        width: 80%;
        margin: 0 auto;
       padding-top: 20px;
       height: auto;
    
    
  }


.footer{
    height: auto;
}
    footer .container{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    
        
        gap: 20px;
        
    }

    footer  h1{
        font-size: 25px;
        margin-bottom: 5px;
    }
    footer  p{
        font-size: 14px;
    }
    .socials{
        margin-top: 20px;
    }

    .form{
        max-width: 500px;
    }

    
  .mobile-menu{
    display: block;
    position: fixed;
    top: 4rem;
    right: 0;
    width: 100%;
    height: 40vh;
    background-color: rgb(0,0,0,.93);
    padding-top: 30px;
    padding-left: 70px;
   text-align: left;
   display: none;
   transition: all .7s ease-in;
  }

  .mobile-menu.show{
    display: block;
  }
  .mobile-menu a {
    color: white;
    font-size: 15px;
    line-height: 1.9;
    text-align: center;
    margin-bottom: 10px;
  }
.menu{
    padding-top: 20px;
}
  .mobile-menu  i{
    margin-right: 5px;
  }
  .mobile-menu li{
    transition: all .8s;
  }
  .mobile-menu li:hover{
    margin-right: 7px;
  }
  .mobile-menu .fa-times{
    color: white;
    font-size: 26px;
    position: absolute;
    top: 50px;
    right: 40px;
    cursor:pointer
    
  }

}


/*         MEDIA QUERRIES 100px and  760px   */



@media screen and (max-width: 1100px) and (min-width:860px) {

  




    .navbar{
        overflow-x: hidden;
    }
    .course-sec .grid-class{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
       padding-top: 2rem;
       padding-bottom: 2rem;
        
    }
    .course-sec{
        height: auto;
    }
    .showcase{
        height: 50vh;
        padding-top: 15px;
    }
    .showcase h1{
        font-size: 2rem;
    }
    .showcase .showcase-text p {
        font-size: 15px;
    }
    .products h2{
        font-size: 1.5rem;
    }
    .products button{
        padding: 8px 15px;
    }
    .products{
        height: auto;
    }
  .products .products-container{
    
        
        gap: 20px;
        grid-template-areas: "showcase showcase"
                               "second one"; 
        width: 80%;
        margin: 0 auto;
       padding-top: 20px;
       height: auto;
    
    
  }



  .form{
    max-width: 600px;
    left: 15%;
  }

}


/*         MEDIA QUERRIES   500px   */
@media screen and (max-width: 500px) and (min-width:400px){
.showcase{

    height: auto;
    padding-top: 20px;
}
.showcase h1{
    font-size: 1.5rem;
}

.showcase p{
    font-size: 15px;
}

.showcase button{
    padding: 2px 5px;
    border-radius: 0;
}



    .course-sec .grid-class{
        grid-template-columns: 1fr ;
        gap: 30px;
       padding-top: 2rem;
       padding-bottom: 2rem;
    }
       .products .products-container{
    
        
        gap: 20px;
        grid-template-areas: "showcase showcase"
                               "second one"; 
        width: 80%;
        margin: 0 auto;
       padding-top: 20px;
       height: auto;

    }

    .products h2{
        font-size: 1.5rem;
    }
    .products p{

    font-size: 14px;
    }

    .products button{
        padding: 6PX 15PX;
    }
    .form{
        left: 3rem;
        height: auto;
        max-width: 280px;
        max-height: 400px;
    }

    .socials i{
        font-size: 15px;
        margin-left: 4px;
    } 
    
}












































